.container-card{
    max-width: 600px;
    border:solid pink;
    border-radius: 30px;
    padding: 10px;
    margin: 10 px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.img{
    max-width: 400px;
    max-height: 400px;
}
.container-card img {
    vertical-align: top;
    margin: 20 px 0;
}



#tittle{
    margin: 10px 0;
    font-weight: bold;
    font-size: 16px;
    text-shadow: 2px 2px 4px #000000;
    color: #8B4513; /* Marrón */
    background-color: #F5DEB3; /* Beige */
    border-radius: 10px;
    padding: 10px;
    }